<div class="main">
  
  <img src="http://www.kfar.co.il/media/catalog/product/cache/3/image/9df78eab33525d08d6e5fb8d27136e95/2/1/2119207_1.jpg" class="im">
  <div class="ad">Deals and discounts for only two days!<br/>
Come and see our variety of rare dolls.<br/>
Everything must be sold.<br/>
You can also view our gallery at the following link: <br/></div>
<a href="http://search.clearch.org/?a=images&q=%D7%91%D7%95%D7%91%D7%94" class="link"> our dolls</a>
<div class="box"> <h3> would you like your doll?</h3>
<input type="checkbox"  id="d" >High<br/>
<input type="checkbox" id="d" >thin<br/>
<input type="checkbox" id="d" >blue eyes<br/>
<input type="checkbox" id="d" >Long hair<br/>
<input type="checkbox" id="d" >blonde<br/>
<input type="checkbox" id="d" >black hair<br/>
<input type="checkbox" id="d" >Tanned<br/>
<input type="button" value="search" class="btn">
</div>
</div>
